@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

main {
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    background-color: hsl(0, 0%, 93%);
    padding: 20px;
    border-radius: 5px;
}

.menu > li > a {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ccc;
}

.menu > li > ul a {
    padding: 10px;
    display: block;
    background-color: #aaa;
}

@media screen and (max-width: 750px) {
    .menu a {
        transition: 0.3;
    }

    /* .menu a:hover {
        opacity: 0.7;
    } */
    .menu ul {
        display: none;
        /* opacity: 0; */
    }

    .menu ul.active {
        display: block;
        /* opacity: 1; */
        /* transition: all 1s ease-out; */
    }
    .menu > li > a::after {
        content: "";
        display: inline-block;
        width: 32px;
        height: 20px;
        background-image: url("./img/a.png");
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s;
    }

    .menu > li > a.active::after {
        transform: rotate(-180deg);
    }
}

.imgTest {
    position: relative;

    .p {
        position: absolute;
        top: 0;
        display: none;
    }

    &:hover .p {
        display: block;
    }
}

.img {
    object-fit: cover;

    &:hover {
        opacity: 0.8;
    }
}
