@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

main {
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
}

.menu a {
    transition: 0.3;
}

.menu a:hover {
    opacity: 0.7;
}

.menu > li > a {
    display: block;
    padding: 10px;
    background-color: #ccc;
}

.menu > li > ul a {
    padding: 10px;
    display: block;
    background-color: #aaa;
}
